@keyframes servieces-animate {
    0% { 
        left: 0;
    }
    
    35% {
        transform: translateX(-100%) rotateY(0);
        left: 100%;
    }

    50% {
        transform: translateX(-100%) rotateY(180deg);
        left: 100%;
    }
    
    85% {
        left: 0;
        transform: translateX(0) rotateY(180deg);
    }
    
    100% {
        left: 0;
        transform: translateX(0) rotateY(0deg);
    }
}

@keyframes card-animation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
    }
}